@import 'mixins';
@import 'reset';
@import 'keyframes';

.ie-noscript-warning {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin: 100px 0;
}


/*banner begin*/

.banner {
	height: 80px;
	width: 100%;
	min-width: 1000px;
	background: url(../img/jbanner.jpg) no-repeat center;
	background-size: 1920px 80px;
	@include box-sizing (border-box);
	clear: both;
	.b-container {
		width: 1000px;
		margin: 0 auto;
		padding-top: 18px;
		position: relative;
		ul {
			width: 1000px;
			height: auto;
			li {
				float: left;
				width: 178px;
				height: 49px;
				background: url(../img/btn.png) no-repeat center;
				margin-left: 5px;
				cursor: pointer;
				list-style: none;
				position: relative;
				left: 202px;
				@include transition(all .3s);
				&:hover {
					background: url(../img/btn-hover.png) no-repeat center;
				}
				a {
					display: block;
					width: 178px;
					height: 49px;
					line-height: 44px;
					font-size: 18px;
					color: #1e5294;
					text-align: center;
					text-decoration: none;
				}
				.new-icon {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 1px;
					height: 34px;
					width: 34px;
				}
				.hot-icon {
					display: inline-block;
					position: absolute;
					width: 34px;
					height: 34px;
					top: 0;
					left: 1px;
				}
			}
		}
	}
}


/*banner end*/


/*  begin*/

.b-close {
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #9395a4;
	top: 3px;
	right: 3px;
	cursor: pointer;
	@include transition(all .3s);
	&:before {
		 @include b-close();
		 @include transform(rotateZ(45deg));
	}
	&:after {
	 	@include b-close();
		@include transform(rotateZ(-45deg));
	}
	&:hover {
		background: #fff;
	}
}


/* end*/


/*header begin*/

header {
	width: 1000px;
	margin: 0 auto;
	height: 60px;
	position: relative;
	line-height: 60px;
	vertical-align: middle;
	.logo {
		display: block;
		background: url(../img/logo.png) no-repeat left center;
		background-size: 109px 40px;
		width: 109px;
		height: 40px;
		margin-top: 10px;
		float: left;
		margin-right: 60px;
	}
	/*nav*/
	nav {
		float: left;
		height: 60px;
		/*overflow: hidden;*/
		ul {
			display: inline-block;
			li {
				float: left;
				margin-right: 50px;
				cursor: pointer;
				font-size: 14px;
				position: relative;
				.submenu {
					position: absolute;
					z-index: 1000;
					top: 60px;
					left: 0;
					background: #fff;
					font-size: 12px;
					color: #666;
					width: 280px;
					display: none;
					opacity: 0;
					h3 {
						margin: 10px 0;
						padding: 0 15px;
						background: #fafafa;
						height: 28px;
						line-height: 28px;
						font-weight: 300;
					}
					a {
						display: block;
						height: 30px;
						line-height: 30px;
						padding: 0 15px;
						color: #333;
						text-decoration: none;
						font-size: 12px;
						&:hover {
							color: #35b558;
						}
					}
				}
				.arrow-icon {
					width: 8px;
					height: 8px;
					border-top: 1px solid #c1c1c1;
					border-left: 1px solid #c1c1c1;
					display: inline-block;
					@include transformOrigin(4px 4px);
					@include transform(rotate(-135deg));
				}
				&.nav-index {
					color: #35b558;
				}
				&:hover {
					color: #35b558;
					.arrow-icon {
						border-top: 1px solid #35b558;
						border-left: 1px solid #35b558;
						@include transform(rotate(45deg));
						@include animation(rorateArrow .5s ease normal);
					}
					.submenu {
						display: block;
						opacity: 1;
						@include animation(showMenu 1s ease normal);
					}
				}
			}
		}
	}
	.info-box {
		float: right;
		margin-right: 10px;
		ul {
			display: inline-block;
			li {
				display: block;
				width: 17px;
				height: 60px;
				margin-left: 25px;
				float: left;
				clear: none;
				cursor: pointer;
			}
		}
	}
	.searchbox {
		display: none;
		height: 59px;
		line-height: 59px;
		width: 850px;
		background: #fff;
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		opacity: 0;
		@include transform(scale(0.1, 1));
		@include animation(transformAction 1s ease);
		.tagbox {
			width: 300px;
			text-align: right;
			float: right;
			margin-right: 50px;
			a {
				text-decoration: none;
				font-size: 12px;
				color: #808080;
				background: #f5f5f5;
				padding: 3px 5px;
				margin-left: 10px;
			}
		}
		input {
			width: 400px;
			height: 59px;
			line-height: 59px;
			font-size: 12px;
			margin-left: 27px;
			border: 0;
			&:focus {
				outline: none;
			}
		}
		.close-icon {
			width: 15px;
			height: 15px;
			margin-top: 22px;
			cursor: pointer;
			background: url(../img/close-icon.png) 0 0 no-repeat;
			background-size: 100% 100%;
			position: absolute;
			right: 0;
			z-index: 1200;
		}
	}
	.showbox {
		display: block;
		opacity: 1;
		@include transform(scale(1, 1));
		@include transformOrigin(100% 50%);
	}
	.search-icon:hover {
		background: url(../img/search-icon21.png) 0 0 no-repeat;
		background-size: 17px 17px;
		background-position: 0, 0;
	}
	.search-icon {
		background: url(../img/search-icon11.png) 0 0 no-repeat;
		background-size: 17px 17px;
		background-position: 0, 0;
		height: 17px;
		width: 17px;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -8.5px;
	}
}

#nav-vocational-college .submenu i,
#nav-member-course .submenu i,
#geek-community .submenu i {
	background: url(../img/allicon.png) 0 0 no-repeat;
	background-size: 64px 64px;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 10px!important;
}

#nav-vocational-college {
	.submenu {
		i {
			.web-icon {
				background-position: -15px -27px;
			}
			.python-icon {
				background: url(../img/allicon3.png) 0 0 no-repeat;
				background-size: 16px 148px;
				background-position: -2px -2px;
			}
			.ios-icon {
				background: url(../img/allicon3.png) 0 0 no-repeat;
				background-size: 16px 148px;
				background-position: -2px -82px;
			}
			.go-icon {
				background: url(../img/allicon3.png) 0 0 no-repeat;
				background-size: 16px 148px;
				background-position: -2px -38px;
			}
		}
	}
}

#nav-member-course {
	.submenu {
		a {
			display: block;
			height: 40px;
			line-height: 40px;
			color: #666;
			&:hover {
				color: #35b558;
			}
			span {
				color: #bbb;
				float: right;
			}
		}
		i {
			&.kck-icon {
				background-position: 0 -13px;
			}
			&.zyljt-icon {
				background-position: -45px 0;
			}
			&.zstxt-icon {
				background-position: -30px -13px;
			}
			&.xlkc-icon {
				background: url(../img/xlkc2.png) 0 0 no-repeat;
				background-position: 0 0;
				background-size: 12px 12px;
			}
			&.kcbq-icon {
				background-position: -15px -13px;
			}
			&.vip-icon {
				background-position: -16px 0;
			}
		}
	}
}

#geek-community {
	.submenu {
		a {
			display: block;
			height: 40px;
			line-height: 40px;
			color: #666;
			&:hover {
				color: #35b558;
			}
			span {
				color: #bbb;
				float: right;
			}
		}
		i {
			&.jswd-icon {
				background-position: 0 -27px;
			}
			&.wiki-icon {
				background-position: -29px -27px;
			}
			&.sq-icon {
				background-position: 0 2px;
			}
			&zygx-icon {
				background-position: -30px 0;
			}
		}
	}
}

.loginInfo {
	background: url(../img/login-icon.png) no-repeat center center;
	background-size: 17px 17px;
	position: relative;
	.submenu {
		opacity: 1;
		background: #fff;
		position: absolute;
		width: 120px;
		z-index: 1200;
		top: 60px;
		display: none;
		left: -90px;
		opacity: 0;
		dl {
			background: #fff;
			display: block;
		}
		dd {
			height: 35px;
			padding-left: 10px;
			&:first-child {
				padding-left: 25px;
			}
			a {
				text-align: left;
				font-size: 12px;
				line-height: 35px;
				vertical-align: middle;
				margin: 0;
				color: #666;
				height: 35px;
				text-decoration: none;
				&:hover {
					color: #35b548;
				}
				&:nth-child(2) {
					padding-left: 0px;
				}
			}
			i {
				background: url(../img/allicon2.png) 0 0 no-repeat;
				background-size: 64px 64px;
				width: 12px;
				height: 12px;
				margin-right: 5px;
				display: inline-block;
				&.xxzx-icon {
					background-position: -16px -15px;
				}
				&.grzy-icon {
					background-position: -45px -1px;
				}
				&.xxtz-icon {
					background-position: -16px -30px;
				}
				&.zhsz-icon {
					background-position: -30px -1px;
				}
			}
		}
	}
	&:hover .submenu {
		opacity: 1;
		display: block;
		@include animation(showMenu 1s ease normal);
	}
}

.search-btn {
	background: url(../img/search-icon.png) no-repeat center center;
	background-size: 17px 17px;
	&:hover {
		background: url(../img/search-icon2.png) no-repeat center center;
		background-size: 17px 17px;
	}
}

.mobile {
	background: url(../img/app-icon.png) no-repeat center center;
	background-size: 17px 17px;
	position: relative;
	.submenu {
		display: none;
		opacity: 0;
	}
	&:hover .submenu {
		background: url(../img/app-icon2.png) no-repeat center center;
		background-size: 17px 17px;
		display: block;
		position: absolute;
		top: 50px;
		width: 120px;
		left: -60px;
		opacity: 1;
		@include animation(showMenu 1s ease normal);
	}
}

.banner2 {
	width: 1000px;
	margin: 0 auto;
	clear: both;
	margin-top: 20px;
	overflow: hidden;
	.banner2-ad {
		width: 750px;
		height: 330px;
		float: left;
		margin-right: 10px;
		overflow: hidden;
		position: relative;
		.banner2-ad-container {
			width: 750px;
			height: 330px;
			position: relative;
		}
		a {
			display: block;
			width: 750px;
			height: 330px;
			float: left;
			clear: none;
		}
	}
	.banner-arrow-left {
		display: none;
		width: 50px;
		height: 80px;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -40px;
		cursor: pointer;
		background: url(../img/arrow_left.png) no-repeat center;
		background-size: 50px 80px;
		z-index: 100;
		&:hover {
			background: url(../img/arrow-hover_left.png) no-repeat center;
			background-size: 50px 80px
		}
	}
	.banner-arrow-right {
		display: none;
		width: 50px;
		height: 80px;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -40px;
		cursor: pointer;
		background: url(../img/arrow_right.png) no-repeat center;
		background-size: 50px 80px;
		@include transform(rotate(180deg));
		z-index: 100;
		&:hover {
			background: url(../img/arrow-hover-right.png) no-repeat center;
			background-size: 50px 80px
		}
	}
	.paging-box {
		position: absolute;
		left: 0;
		bottom: 36px;
		text-align: center;
		width: 100%;
		z-index: 2000;
		height: 0;
		cursor: pointer;
		span {
			display: inline-block;
			margin-right: 8px;
			width: 8px;
			height: 8px;
			background: #fff;
			cursor: pointer;
			@include transition(all .5s);
			&.adnewcls {
				height: 16px;
				background: #35B558;
			}
		}
	}
	.banner2-login {
		float: left;
		width: 240px;
		height: 160px;
		border: 1px solid #e9e9e9;
		background: #fff;
		@include  box-sizing(border-box);
		padding: 26px 29px 24px;
	}
	.userinfo {
		height: 57px;
		.user-img {
			width: 57px;
			height: 57px;
			margin-right: 15px;
			float: left;
		}
		.user-welcome {
			width: 108px;
			height: 16px;
			line-height: 16px;
			margin-top: 8px;
			float: left;
			text-align: left;
			font-size: 12px;
			color: #555;
		}
		.user-msg {
			width: 108px;
			height: 16px;
			margin-top: 10px;
			float: left;
			text-align: left;
			line-height: 16px;
			font-size: 12px;
			color: #555;
		}
	}
	.banner2-info {
		float: left;
		margin-top: 10px;
	}
	.banner2-login {
		.btn {
			float: left;
			margin-top: 20px;
			button {
				float: left;
				width: 85px;
				height: 32px;
				border: 1px solid #35b558;
				border-radius: 2px;
				color: #35b558;
				line-height: 30px;
				text-align: center;
				font-size: 14px;
				background: #fff;
				cursor: pointer;
				@include transition(all 1s);
				&:hover {
					background: #35b548;
					color: #fff
				}
				&:nth-child(2) {
					margin-left: 10px;	
				}
				&:focus{
				outline:none;		
				}
			}
		}
	}
	.banner2-jobinfo {
		float: left;
		height: 130px;
		width: 100%;
		margin-top: 20px;
		background: #fff;
		ul {
			display: block;
			width: 1000px;
			li {
				display: block;
				float: left;
				width: 250px;
				position: relative;
				&:nth-child(1) {
					background: url(../img/jphp.png) no-repeat center 20px;
					background-size: 130px 65px;
				}
				&:nth-child(2) {
					background: url(../img/jweb.png) no-repeat center 20px;
					background-size: 130px 65px;
				}
				&:nth-child(3) {
					background: url(../img/jandroid.png) no-repeat center 20px;
					background-size: 130px 65px;
				}
				&:nth-child(4) {
					background: url(../img/jios.png) no-repeat center 20px;
					background-size: 130px 65px;
				}
				a {
					display: block;
					width: 250px;
					height: 130px;
					text-align: center;
					text-decoration: none;
					color: #555;
					font-size: 12px;
					padding-top: 90px;
					@include  box-sizing(border-box);
					&:hover {
						color: #35b558;
					}
				}
			}
		}
		i {
			display: block;
			width: 52px;
			height: 52px;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			background: url(../img/tag.png) no-repeat center;
			background-size: 52px;
		}
	}
}

.study-course {
	width: 1000px;
	height: 270px;
	margin: 0 auto;
	margin-top: 20px;
	@include  box-sizing(border-box);
	margin-bottom: 40px;
	ul li {
		display: block;
		float: left;
		width: 235px;
		height: 270px;
		margin-right: 20px;
		border: 1px solid #e9e9e9;
		@include transition(box-shadow .5s);

		&:hover {
			border: 1px solid #e1e2e2;
			box-shadow: 0 2px 6px #ccc
		}
		a {
			text-decoration: none;
			display: inline-block;
		}
		div {
			clear: both;
		}
		&:nth-child(4) {
			margin-right: 0px;
		}
	}
	.course-pic {
		float: left;
		color: both;
		height: 155px;
		width: 100px;
	}
	.course-container {
		padding: 14px;
		height: 85px;
		background: #fff;
		float: left;
		color: both;
	}
	.course-title {
		width: 100%;
		overflow: hidden;
		font-size: 12px;
		color: #555;
		line-height: 18px;
		height: 36px;
	}
	.course-time {
		margin-top: 6px;
		color: #999;
		font-size: 12px;
		line-height: 16px;
		height: 16px;
	}
	.course-price {
		span {
			&:nth-child(1) {
				float: left;
				font-size: 18px;
				color: #ff5c00;
				vertical-align: bottom;
				margin-right: 5px;
				margin-top: 8px;
			}
			&:nth-child(2) {
				float: left;
				font-size: 12px;
				color: #999;
				margin-top: 14px;
				text-decoration: line-through;
				vertical-align: bottom;
			}
			&:nth-child(3) {
				height: 14px;
				color: #999;
				font-size: 12px;
				float: right;
				margin-top: 14px;
			}
		}
	}
}

.vocational-college {
	width: 1000px;
	margin: 0 auto;
	height: 310px;
	margin-bottom: 40px;
	h2 {
		font-size: 18px;
		color: #555;
		line-height: 18px;
		height: 18px;
		margin-bottom: 22px;
		font-weight: normal;
	}
	ul {
		clear: both;
		li {
			display: block;
			float: left;
			width: 240px;
			height: 130px;
			margin-left: 10px;
			position: relative;
			span.skill-bg {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #000;
			}
			i {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0;
				@include transition(opacity 1s);
				&:hover {
					opacity: .2;
				}
			}
			&:nth-child(4) {
				margin-top: 10px;
			}
			&:nth-child(5) {
				margin-top: 10px;
			}
		}
	}
	.web {
		width: 500px;
		height: 270px;
		margin-left: 0;
		.skill-bg {
			/*padding-top: 180px;*/
			font-size: 20px;
			background: url(../img/cweb.png) no-repeat center 70px;
			background-size: 55px 84px;
		}
		.skill-text {
			top: 188px;
			font-size: 20px;
		}
	}
	.python .skill-bg {
		background: url(../img/cpython.png) no-repeat center 31px;
		background-size: 36px 36px;
	}
	.go .skill-bg {
		background: url(../img/cgo.png) no-repeat center 31px;
		background-size: 36px 36px;
	}
	.ios .skill-bg {
		background: url(../img/cios.png) no-repeat center 31px;
		background-size: 36px 36px;
	}
	.more .skill-bg {
		background: url(../img/cmore.png) no-repeat center 31px;
		background-size: 36px 36px;
	}
	.skill-text {
		display: block;
		position: absolute;
		top: 88px;
		left: 0;
		text-align: center;
		color: #fff;
		font-size: 14px;
		width: 100%;
	}
}

.member-course {
	width: 1000px;
	margin: 0 auto;
	height: 420px;
	margin-bottom: 40px;
	@include  box-sizing(border-box);
	overflow: hidden;
	h2 {
		font-size: 18px;
		color: #555;
		height: 18px;
		line-height: 18px;
		margin-bottom: 22px;
		font-weight: normal;
		float: left;
		clear: both;
	}
	ul {
		float: left;
		clear: both;
		li {
			float: left;
			width: 156px;
			height: 148px;
			background: #fff;
			margin-right: 10px;
			border: 1px solid #e9e9e9;
			border-radius: 2px;
			@include transition(box-shadow .5s);
			&:hover {
				border: 1px solid #e1e2e2;
				box-shadow: 0 2px 6px #ccc
			}
			a {
				text-decoration: none;
			}
			img {
				width: 55px;
				height: 55px;
			}
			&:nth-child(6) {
				margin-right: 0px;
			}
			&:nth-child(12) {
				margin-right: 0px;
			}
			&:nth-child(n+7) {
				margin-top: 10px;
			}
			span {
				&:nth-child(1) {
					display: block;
					width: 100%;
					text-align: center;
					margin-top: 25px;
					height: 55px;
				}
				&:nth-child(2) {
					display: block;
					font-size: 12px;
					color: #555;
					height: 22px;
					line-height: 22px;
					width: 100%;
					text-align: center;
				}
				&:nth-child(3) {
					display: block;
					font-size: 12px;
					color: #35b558;
					height: 22px;
					line-height: 22px;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	.all-course {
		width: 100%;
		text-align: center;
		padding-top: 38px;
		float: left;
		clear: both;
		div {
			height: 32px;
			width: 120px;
			margin: 0 auto;
			a {
				display: block;
				height: 32px;
				line-height: 30px;
				border: 1px solid #35b558;
				border-radius: 2px;
				width: 120px;
				font-size: 14px;
				color: #35b558;
				text-align: center;
				cursor: pointer;
				text-decoration: none;
				@include transition(background 1s);
				&:hover {
					background: #35b548;
					color: #fff
				}
			}
		}
	}
}

.student-story {
	width: 1000px;
	margin: 0 auto;
	height: 300px;
	margin-bottom: 80px;
	@include  box-sizing(border-box);
	overflow: hidden;
	h2 {
		font-size: 18px;
		color: #555;
		line-height: 18px;
		height: 18px;
		margin-bottom: 22px;
		font-weight: normal;
	}
	.student-story-box {
		width: 1000px;
		height: 200px;
		clear: none;
		overflow: hidden;
		position: relative;
	}
	ul {
		float: left;
		clear: none;
		li {
			float: left;
			width: 320px;
			position: relative;
			margin-right: 20px;
			overflow: hidden;
			height: 200px;
			a {
				text-decoration: none;
			}
			&:nth-child(3) {
				margin-right: 0px;
			}
			p {
				&:nth-child(4n+1) {
					overflow: hidden;
					font-size: 12px;
					color: #555;
					line-height: 20px;
					padding: 20px 25px;
					text-align: left;
					position: relative;
					height: 119px;
					@include  box-sizing(border-box);
				}
				&:nth-child(4n+1):before {
					content: '';
					display: block;
					width: 14px;
					height: 10px;
					background: url(../img/storyicon.png) no-repeat center;
					background-size: 14px 10px;
					position: absolute;
					top: 10px;
					left: 10px;
				}
				&:nth-child(4n+1):after {
					content: '';
					display: block;
					width: 14px;
					height: 10px;
					background: url(../img/storyicon.png) no-repeat center;
					background-size: 14px 10px;
					position: absolute;
					bottom: 10px;
					right: 10px;
					@include transform(rotate(180deg));
				}
				&:nth-child(4n+2) {
					padding-top: 20px;
				}
			}
		}
	}
	.student-story-head {
		display: block;
		float: left;
		clear: none;
		margin-left: 20px;
		width: 60px;
		height: 60px;
		img {
			width: 58px;
			height: 58px;
			border-radius: 50%;
			border: 1px solid #A4AEB7;
		}
	}
	.student-story-info {
		display: block;
		float: left;
		clear: none;
		width: 224px;
		margin-left: 15px;
		margin-top: 8px;
		&>span {
			&:nth-child(1) {
				width: 225px;
				font-size: 12px;
				color: #555;
				height: 24px;
				line-height: 24px;
				overflow: hidden;
				text-align: left;
				float: left;
				clear: both;
				display: block;
			}
			&:nth-child(2) {
				width: 225px;
				font-size: 12px;
				color: #999;
				height: 24px;
				line-height: 24px;
				overflow: hidden;
				text-align: left;
				float: left;
				clear: both;
				display: block;
			}
		}
	}
	.student-story-page {
		width: 100%;
		overflow: hidden;
		.student-story-page2 {
			width: 32px;
			height: 8px;
			margin: 0 auto;
			padding-top: 52px;
			@include  box-sizing(border-box);
			span {
				cursor: pointer;
				float: left;
				display: block;
				height: 8px;
				background: #bbb;
				width: 8px;
				@include transition(all .3s);
				&.info1 {
					margin-right: 8px;
				}
				&.newcls {
					width: 16px;
					background: #35b558;
				}
			}
		}
	}
}


/**/

footer {
	min-width: 1000px;
	border-top: 1px solid #e4e4e4;
	background: #fff;
	margin-top: 50px;
	height: 299px;
	.copyrith {
		width: 100%;
		float: left;
		clear: both;
		position: relative;
		padding-top: 15px;
		a {
			text-decoration: none;
			color: #999;
			.down-sina {
				height: 15px;
				width: 20px;
				background: url(../img/icon-down-wechat.png)no-repeat 0 0;
				background-size: 18px 15px;
				position: absolute;
				display: block;
				right: 45px;
				top: 28px;
			}
		}
		.copyrith-1 {
			text-align: center;
			font-size: 12px;
			color: #999;
			padding-top: 15px;
		}
		.copyrith-2 {
			text-align: center;
			padding-top: 15px;
			img {
				width: 60px;
			}
		}
		.down-wechat {
			float: right;
			height: 15px;
			width: 20px;
			background: url(../img/icon-down-sina.png)no-repeat 0 0;
			background-size: 20px 15px;
			position: absolute;
			display: block;
			right: 15px;
			top: 28px;
		}
	}
	.hospital-training {
		float: left;
		width: 160px;
		margin-top: 25px;
		@include  box-sizing(border-box);
		overflow: hidden;
		img {
			float: left;
			clear: both;
		}
		p {
			float: left;
			clear: both;
			font-size: 12px;
			color: #999;
			margin-top: 20px;
		}
	}
	.hospital-nav {
		float: left;
		width: 540px;
		overflow: hidden;
		margin-top: 25px;
		margin-left: 64px;
		a {
			text-decoration: none;
			color: #999;
			display: block;
			width: 100%;
			height: 100%;
		}
		dl {
			float: left;
			clear: none;
			width: 135px;
			dt {
				font-size: 14px;
				line-height: 30px;
				color: #808080;
			}
			dd {
				font-size: 12px;
				line-height: 30px;
				a:hover {
					color: #35b558;
				}
			}
		}
	}
	.footer-container {
		width: 1000px;
		margin: 0 auto;
	}
	.hospital-help {
		float: right;
		width: 175px;
		margin-top: 25px;
		.hot-tel {
			color: #808080;
			font-size: 14px;
			margin-bottom: 20px;
		}
		.down-iphone {
			background: url(../img/icon-down-ios.png)no-repeat 0 0;
			background-size: 30px 30px;
			position: relative;
			&:hover img {
				display: block;
			}
			img {
				display: block;
				width: 115px;
				height: 153px;
				position: absolute;
				top: -157px;
				left: 12px;
				z-index: 2;
				display: none;
			}
		}
		.down-android {
			background: url(../img/icon-down-and.png)no-repeat 0 0;
			background-size: 30px 30px;
			position: relative;
			&:hover img {
				display: block;
			}
			img {
				display: block;
				width: 115px;
				height: 153px;
				position: absolute;
				top: -157px;
				left: 12px;
				z-index: 2;
				display: none;
			}
		}
		.down-cls {
			position: relative;
			display: inline-block;
			width: 140px;
			height: 30px;
			margin-bottom: 10px;
			line-height: 30px;
			color: #808080;
			font-size: 13px;
			padding-left: 40px;
			cursor: pointer;
		}
	}
}

.returnTop {
	position: fixed;
	left: 50%;
	margin-left: 500px;
	bottom: 50px;
	width: 34px;
	text-align: center;
	z-index: 100;
	span.top {
		display: block;
		background: url(../img/gotop.jpg) 0 0 no-repeat;
		background-size: 34px 103px;
		width: 34px;
		height: 34px;
		cursor: pointer;
		&:hover {
			display: block;
			background: url(../img/gotop2.jpg) 0 0 no-repeat;
			background-size: 34px 103px;
			width: 34px;
			height: 34px;
		}
	}
	span.app {
		position: relative;
		display: block;
		background: #f7f7f7 url(../img/phone-1.png) center center no-repeat;
		background-size: 12px 24px;
		width: 34px;
		height: 35px;
		border-bottom: 1px solid #e0e0e0;
		&:hover {
			background: #f7f7f7 url(../img/phone-2.png) center center no-repeat;
			background-size: 12px 24px;
		}
	}
}

