/*计算机容器样式*/

body {
	font-family: "microsoft yahei", sans-serif;
	font-size: 18px;
	background: #A7D796;
}

ul,
li,
div,
i,
input {
	padding: 0;
	margin: 0;
	border: 0;
}

input:focus {
	outline: none;
}

.container {
	margin: 0 auto;
	width: 396px;
	height: 486px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -198px;
	margin-top: -242px;
	background: #f2f2f2;
	border-radius: 10px;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
	box-shadow: 0px 5px rgba(198, 198, 198, 0.8);
}


/*计算器头部样式*/

.cal-header {
	width: 100%;
	height: 22px;
	margin-top: 11px;
	background: url(../img/herder-bg.png) no-repeat 133px top;
	background-size: 84px 22px;
}


/*计算器显示结果部分*/

.cal-result {
	width: 100%;
	margin-top: 9px;
	height: 72px;
	background: #1c1c1c;
	border-radius: 4px;
	border: 1px solid #AEAFB1;
	padding-left: 13px;
	padding-right: 13px;
	box-sizing: border-box;
}

.cal-number {
	display: block;
	float: left;
	clear: none;
	width: 314px;
	height: 36px;
	line-height: 36px;
	margin-top: 19px;
	font-weight: bold;
	color: #fff;
	background: transparent;
	text-align: right;
	font-size: 40px;
	vertical-align: middle;

}


/*计算器操作部分*/

.cal-operbtn {
	width: 100%;
	height: auto;
	margin-top: 28px;
	text-align: center;
	display: inline-block;
}

.cal-operbtn ul li {
	list-style: none;
	float: left;
	clear: none;
	width: 75px;
	height: 42px;
	border: 1px solid #e4e4e4;
	display: inline-block;
	margin-right: 16px;
	box-sizing: border-box;
	line-height: 40px;
	text-align: center;
	margin-bottom: 14px;
	cursor: pointer;
	color: #727272;
	/*font-weight: bold;*/
	border-radius: 4px;
	background: #F4F4F4;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
}

.cal-operbtn ul li:hover {
	background: #b8d796;
	color: #fff;
}

.cal-operbtn ul li:focus {
	background: #b8d796;
	color: #fff;
}

.cal-operbtn ul li.lastbtn {
	margin-right: 0;
}

.cal-operbtn ul li.zero {
	width: 166px;
}

.cal-operbtn ul li.equal {
	height: 96px;
	line-height: 154px;
}

.cal-operbtn ul li.pos {
	margin-top: -56px;
}

.cal-operbtn ul li.pos2 {
	margin-top: -56px;
	margin-left: 182px;
}

.cal-circle i {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float: left;
	clear: none;
	margin-right: 8px;
	margin-top: 5px;
}

.cal-circle i.first {
	border: 1px solid #9C6560;
	background: #DF6D5F;
}

.cal-circle i.second {
	border: 1px solid #AD8747;
	background: #F2BE6C;
}

.cal-circle i.three {
	border: 1px solid #5A7548;
	background: #66DB58;
}